{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="p-5 text-center rounded-3" style="background-color: #dbd5bd">
    <svg
      class="bi mt-4 mb-3"
      style="color: var(--bs-indigo)"
      width="100"
      height="100"
    >
      <use xlink:href="#bootstrap"></use>
    </svg>
    <h1 class="text-body-emphasis">Jumbotron with icon</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer
      text that wraps early thanks to a responsive <code>.col-*</code> class,
      and a customized call to action.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
      >
        Call to action
        <svg class="bi ms-2" width="24" height="24">
          <use xlink:href="#arrow-right-short"></use>
        </svg>
      </button>
      <button
        class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
        type="button"
      >
        Secondary link
      </button>
    </div>
  </div>
</div>
<div class="b-example-divider"></div>
<div class="container my-5">
  <div class="p-5 text-center rounded-3" style="background-color: #dbd5bd">
    <h1 style="color: #341605">Cafes</h1>
    <div class="row">
      <div class="col-sm-3">
        
        <div class="card" style="background-color: #a77422">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-3">
        <div class="card" style="background-color: #a77422">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-3">
        
        <div class="card" style="background-color: #a77422">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-3">
        
        <div class="card" style="background-color: #a77422">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
{% endblock content%}
