{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div
    class="p-5 text-center rounded-3 bg-image"
    style="
      background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}');
      height: 50vh;"
  >
    <div class="mask" style="background-color: rgba(219, 213, 189, 0.8)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <h1 class="text-black mb-0 display-1">
          Find Hot Coffee Shops Near You!
        </h1>
      </div>
    </div>
  </div>
</div>
<hr />
<h1 class="text-center display-2">Cafes</h1>
<hr />
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for cafe in cafes %}
    <div class="col">
      <div class="card h-100">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
          class="card-img-top"
          alt="Hollywood Sign on The Hill"
        />
        <div class="card-body">
          <h5 class="card-title">{{ cafe.name }}</h5>
          <p class="card-text">{{ cafe.short_description }}</p>

          <a href="{{ url_for('add_cafe') }}"
            ><button
              type="button"
              class="btn btn-outline-dark btn-lg"
              data-mdb-ripple-init
              data-mdb-ripple-color="dark"
            >
              Details
            </button></a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('add_cafe') }}"
      ><button
        type="button"
        class="btn btn-outline-dark btn-lg"
        data-mdb-ripple-init
        data-mdb-ripple-color="dark"
      >
        Add New Cafe
      </button></a
    >
  </div>
</div>
{% endblock content%}
